# ===============================
# Docker Ignore File (.dockerignore)
# Used to prevent unnecessary files from being copied into the Docker build context.
# This reduces image size and build time.
# ===============================

# Ignore compiled Java classes and build output
target/

# Ignore IDE configuration files (JetBrains IntelliJ, Eclipse, etc.)
.idea/
*.iml
*.classpath
*.project
.settings/

# Ignore Maven wrapper directory if not needed
.mvn/
mvnw.cmd
mvnw

# Ignore Git repository metadata
.git/
**/.git

# Ignore environment variable files (do NOT include secrets in Docker images)
.env

# Ignore logs (just in case log files are present locally)
*.log
logs/
**/logs/
log/
**/log/


# Ignore Oracle Wallet directory (sensitive DB config; handled by CI/CD secrets)
wallet/
oracle_wallet/
wallet.zip

# Ignore test output directories (if generated during local testing)
out/
test-output/

# Ignore Node.js dependencies and configuration files (if applicable)
node_modules/
.vscode/
**/.idea
**/*.iml

# Ignore frontend build artifacts (if using a separate frontend build)
frontend/
dist/
