HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore log files
logs/
*.log
lib/
# Secrets
.env
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/run-prod-env.bat
oracle_wallet/
*.p12
OracleWalletConnectionTest.java
OracleWalletConnectiontest.class
!**/src/main/out/** */

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Docker
*.pid
docker-compose.override.yml

# Oracle Wallet
wallet/
wallet*/               
*.ora
*.p12
*.sso
*.jks

